// Colors:
$aqua:        #13a7e0;
$blue:        #327cc0;
$dirty-blue:  #3f7090;
$brown:       #423d26;
$pink:        #f15c5c;
$red:         #e41f2f;
$gray:        #f0f3f7;

// Breakpoints:
$desktop: 1024px;
$tablet:  769px;
$phone:   480px;

// Fonts
$verdana: Verdana, Geneva, sans-serif;
$roboto:  'Roboto', sans-serif;
